*{
    margin: 0;
    padding: 0%;
    padding-top: 1.6%;
}
body{
    background-color: brown;
}
#container{
    background: url(clock.png) no-repeat;
    background-size: 100%;
    height: 40vw;
    width: 40vw;
    margin: auto;
    position: relative;
}
#Hour, #Minute, #Second{
    position: absolute;
    background-color: rgb(17, 15, 15);
    border-radius: 30px;
    transform-origin: bottom;
}
#Hour{
    height: 23%;
    width: 2%;
    top: 24.5%;
    left: 48.85%;
}
#Minute{
    height: 28%;
    width: 1.5%;
    top: 19%;
    left: 49.15%;
}
#Second{
    height: 31%;
    width: 1%;
    top: 16%;
    left: 49.45%;
}